* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1600px;
  margin: auto;
  background-color: #f1f1f1;
  font-family: sans-serif;
}
.main_container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}
.main_container .left_bar {
  background-color: white;
  line-height: 2.5;
}
.main_container .left_bar h2 {
  font-weight: lighter;
  margin-left: 20px;
}
.main_container .left_bar h3 {
  font-weight: lighter;
  margin-left: 20px;
  color: gray;
}
.main_container .left_bar img {
  width: 45%;
  border-radius: 5px;
  margin-left: 20px;
}
.main_container .left_bar a {
  display: block;
  text-decoration: none;
  color: black;
  padding-left: 20px;
}
.main_container .left_bar a:hover {
  background-color: #c8c8c8;
}
.main_container .left_bar p {
  margin-left: 20px;
}
.main_container .left_bar p i {
  color: black;
}
.main_container .left_bar p i:hover {
  color: gray;
}
.main_container .left_bar a > i {
  margin-right: 10px;
}
.main_container .left_bar .piruz {
  color: #009688;
}
.main_container .left_bar .piruz:hover {
  color: black;
}
.main_container .right_bar {
  background-color: #f1f1f1;
  overflow-y: scroll;
}
.main_container .right_bar > h2 {
  padding: 15px;
  font-weight: lighter;
}
.main_container .right_bar .first_div {
  padding: 15px;
}
.main_container .right_bar .first_div h1 {
  font-family: sans-serif;
  font-size: 36px;
  font-weight: lighter;
  padding: 30px 10px;
}
.main_container .right_bar .first_div p {
  line-height: 2;
  color: gray;
}
.main_container .right_bar .first_div a {
  color: black;
  background-color: white;
  margin: 2px;
  padding: 10px;
  text-decoration: none;
}
.main_container .right_bar .first_div a:hover {
  color: black;
  background-color: #c8c8c8;
}
.main_container .right_bar .first_div .black {
  color: white;
  background-color: black;
}
.main_container .right_bar .first_div hr {
  padding: 2px;
  background-color: #c8c8c8;
  margin: 20px 0;
}
.main_container .right_bar .second_div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  padding: 15px;
}
.main_container .right_bar .second_div img {
  width: 100%;
}
.main_container .right_bar .second_div div {
  background-color: white;
}
.main_container .right_bar .second_div h3 {
  margin: 15px;
  font-size: 15px;
  font-weight: 600;
}
.main_container .right_bar .second_div p {
  margin: 25px 15px;
}
.main_container .right_bar .numbers {
  text-align: center;
  margin: 40px 0;
}
.main_container .right_bar .numbers a {
  text-decoration: none;
  color: black;
  padding: 10px 15px;
}
.main_container .right_bar .numbers a:hover {
  color: white;
  background-color: black ;
}
.main_container .right_bar .numbers .black {
  color: white;
  background-color: black;
}
.main_container .right_bar .numbers .black:hover {
  color: black;
  background-color: #c8c8c8;
}
.main_container .right_bar .third_div {
  padding: 15px;
}
.main_container .right_bar .third_div > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.main_container .right_bar .third_div > div img {
  width: 100%;
}
.main_container .right_bar .third_div h2 {
  margin-top: 30px;
  font-weight: lighter;
}
.main_container .right_bar .third_div p {
  margin: 15px 0;
}
.main_container .right_bar .skills {
  padding: 15px;
}
.main_container .right_bar .skills h2 {
  font-weight: lighter;
  margin-bottom: 16px;
}
.main_container .right_bar .skills h3 {
  margin: 10px 0;
  font-weight: lighter;
}
.main_container .right_bar .skills button {
  color: white;
  margin: 25px 0;
  background-color: gray;
  padding: 15px 20px;
  border: none;
}
.main_container .right_bar .skills button:hover {
  color: black;
  background-color: #c8c8c8;
}
.main_container .right_bar .skills div {
  background-color: #c8c8c8;
}
.main_container .right_bar .skills div .first {
  text-align: center;
  padding: 10px 0;
  color: white;
  width: 95%;
  background-color: gray;
}
.main_container .right_bar .skills div .second {
  text-align: center;
  padding: 10px 0;
  color: white;
  width: 85%;
  background-color: gray;
}
.main_container .right_bar .skills div .third {
  text-align: center;
  padding: 10px 0;
  color: white;
  width: 80%;
  background-color: gray;
}
.main_container .right_bar .charge {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 15px;
}
.main_container .right_bar .charge > div {
  opacity: 0.8;
  text-align: center;
  border: 1px solid gray;
  background-color: white;
}
.main_container .right_bar .charge > div:hover {
  opacity: 1;
}
.main_container .right_bar .charge > div h2 {
  color: white;
  background-color: black;
  padding: 30px;
  font-weight: lighter;
}
.main_container .right_bar .charge > div .pro {
  background-color: #009688;
}
.main_container .right_bar .charge > div h3 {
  line-height: 3;
  font-weight: 400;
}
.main_container .right_bar .charge > div h3 b {
  font-size: 30px;
}
.main_container .right_bar .charge > div h3 p {
  color: gray;
  line-height: 1;
}
.main_container .right_bar .charge > div > p {
  padding: 30px;
  margin-top: 15px;
  background-color: #f1f1f1;
}
.main_container .right_bar .charge > div > p button {
  color: white;
  background-color: #009688;
  padding: 15px 20px;
  border: none;
}
.main_container .right_bar .charge > div > p button:hover {
  background-color: black;
}
.main_container .right_bar .contact {
  padding: 15px;
  background-color: #b1b1b1;
}
.main_container .right_bar .contact .icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
}
.main_container .right_bar .contact .icons > div {
  color: white;
  background-color: gray;
}
.main_container .right_bar .contact .icons .location {
  background-color: #009688;
}
.main_container .right_bar .contact .icons p {
  text-align: center;
  padding: 10px;
}
.main_container .right_bar .contact .icons p i {
  font-size: 40px;
}
.main_container .right_bar .contact .fill_in {
  padding: 20px 10px;
}
.main_container .right_bar .contact .fill_in hr {
  margin: 20px 0;
}
.main_container .right_bar .contact .fill_in input {
  width: 100%;
  background-color: white;
  border: none;
  padding: 10px 0;
  margin-top: 5px;
  margin-bottom: 15px;
}
.main_container .right_bar .contact .fill_in button {
  color: white;
  background-color: black;
  padding: 10px 15px;
  border: none;
}
.main_container .right_bar .contact .fill_in button:hover {
  color: black;
  background-color: #d4d4d4;
}
